body {
    font-family: nunito, sans-serif;
}

h1 {
    color: orange;
    font-size: 1rem; /*no funciona*/
    text-align: center;
}

button {
    color: white;
    display: flex;
    align-self: center;
    background-color: orange;
    width: fit-content;
    border: 0.5rem solid orange;
    border-color: orange;
    border-radius: 00.7rem;
    border-top-left-radius: 0;
}
