body {
    font-family: nunito, sans-serif;
}

h1 {
    color: orange;
    font-size: 1rem;
    text-align: center;
}

@media (min-width: 1281px) {
    body {
        font-family: nunito, sans-serif;
    }

    h1 {
        color: orange;
        font-size: 1rem;
        text-align: left;
    }
}
