section {
    display: flex;
    flex-direction: column;
    align-content: center;
}

h2 {
    display: flex;
    font-size: 2.5rem;
    align-self: center;
}

button {
    color: white;
    display: flex;
    align-self: center;
    background-color: orange;
    width: fit-content;
    border: 0.5rem solid orange;
    border-color: orange;
    border-radius: 00.7rem;
    border-top-left-radius: 0;
}

@media (min-width: 1281px) {
    section {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        margin: 1rem;
    }
    h2 {
        display: flex;
        font-size: 2.5rem;
        align-self: flex-start;
    }

    button {
        color: white;
        display: flex;
        align-self: center;
        background-color: orange;
        width: fit-content;
        border: 0.5rem solid orange;
        border-color: orange;
        border-radius: 00.7rem;
        border-top-left-radius: 0;
    }

    button:hover {
        color: orange;
        display: flex;
        align-self: center;
        background-color: white;
        width: fit-content;
        border: 0.05rem solid orange;
        border-color: orange;
        border-radius: 00.7rem;
        border-top-left-radius: 0;
    }
}
